.todo-item-container {
  font-size: 1.25rem

}

.todo-item-container button {
  padding: 0;
  margin: 3px;
  border: none;
}

.todo-list-item {
  line-height: 36px;
  cursor: pointer;
}

.itemDone {
  text-decoration: line-through;
}

.itemImportant {
  color: steelblue;
  font-weight: bold;
}

.material-icons {
  font-size: 1.25rem;
  padding: 2px;
  border-radius: 5px;

}

.todo-icon-delete {
  color: rgb(255, 99, 71);
  border: 2px solid rgb(255, 99, 71);
}

.todo-icon-delete:hover {
  background-color: rgba(255, 99, 71, .5);

}

.todo-icon-priority {
  color: darkgreen;
  border: 2px solid rgb(143, 188, 139);
}

.todo-icon-priority:hover {
  background-color: rgba(143, 188, 139, .5);
}

